<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.donateclaim">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_headerlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_headerlogo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DonateClaim"
        tools:targetApi="31">
        <activity
            android:name=".Ui.splesh.view.SpleshActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.myProductUploads.view.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.home.view.ProductClaimActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.myProductUploads.view.UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.main.MainActivity"
            android:exported="false">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.donateclaim.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>